<div id="page-content">
<div class="mt-5">
<%= render 'form' %>
</div>
    
</div>
          <%# <form class="edit_user" id="edit_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="/BASZwVdRL4oIoCeYbZrRRivDfiLU1OVh0PpBEOKg21kvYAxFJC2tmXLP8k3SIp1jpzfNSPTY6a4xv5uKpPa/Q==" />
            
          <h4>Login Information</h4>
          <div class="row">
            <div class="field col-sm-12">
              <label for="user_email">Email</label><br />
              <input autocomplete="email" class="form-control" readonly="readonly" type="email" value="abc@gmail.com" name="user[email]" id="user_email" />
            </div>
          </div>
          <div class="row">
              <div class="field col-sm-12 col-md-6">
                <label for="user_password">Password</label> <br />
                <input autocomplete="new-password" class="form-control" type="password" name="user[password]" id="user_password" />  
              </div>
              <div class="field col-sm-12 col-md-6">
                <label for="user_password_confirmation">Password confirmation</label><br />
                <input autocomplete="new-password" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
              </div>
              <i class="pl-3">(leave blank if you don't want to change it)</i>
            </div>
            <hr>
            <h4>Basic Information</h4>
            <div class="row">
              <div class="field col-sm-12 col-md-6">
                <label for="user_firstname">Firstname</label><br />
                <input autocomplete="firstname" maxlength="30" class="form-control" size="30" type="text" name="user[firstname]" id="user_firstname" />
              </div>
              <div class="field col-sm-12 col-md-6">
                <label for="user_lastname">Lastname</label><br />
                <input autocomplete="lastname" maxlength="30" class="form-control" size="30" type="text" name="user[lastname]" id="user_lastname" />
              </div>
            </div>
            <div class="row">
              <div class="field col-sm-12 col-md-6">
                <label for="user_gender">Gender</label><br />
                <select class="form-control" name="user[gender]" id="user_gender"><option value="">Select gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option></select>
              </div>
              <div class="field col-sm-12 col-md-6">
                  <label for="user_date_of_birth">Date of birth</label><br />
                  <input autocomplete="dob" max="2021-05-04" class="form-control" type="date" name="user[dob]" id="user_dob" />
              </div>
            </div>
            <div class="row">
              <div class="field col-sm-12">
                <label for="user_location">Location</label><br />
                <input autocomplete="location" maxlength="50" class="form-control" size="50" type="text" name="user[location]" id="user_location" />
              </div>
              
            </div>
            <div class="row">
                <div class="field col-sm-12 col-md-6">
                  <label for="user_profile_image">Profile image</label><br />
                  <input accept="image/png,image/gif,image/jpeg" class="form-control" type="file" name="user[image]" id="user_image" />
                </div>
            </div>
            <div class="row">
              <div class="field col-sm-12">
                <label for="user_about_me">About me</label><br />
                <textarea autocomplete="bio" maxlength="100" class="form-control" name="user[bio]" id="user_bio">
</textarea>
              </div>
            </div>

            
            <hr>
            <div class="field">
              <label for="user_current_password">Current password</label> <i class="text-danger">(we need your current password to confirm your changes)</i><br />
              <input autocomplete="current-password" class="form-control" type="password" name="user[current_password]" id="user_current_password" />
            </div>

            <div class="actions mt-3 mb-3">
              <input type="submit" name="commit" value="Update" class="btn btn-info" data-disable-with="Update" />
            </div>
</form> %>