<div id="page-content" class="home-content">
    <div class="container" id='home-container-jumbotron'>
        <div class="jumbotron text-center text-white">
            <h1 class="display-6">Welcome on Groove and Move tracker!</h1>
            <p class="lead">"To uncover your true potential you must first find your own limits and then you have to have the courage to blow past them."</p>
            <hr class="my-4">
            <p>Finally a tracker that will stop you from procrastination and help you to follow your improvement for every exercices.</p>
            <%= link_to "Join Now!", signup_path, class:"btn btn-lg", :style => "background-color:#DCFF2E", color: "black" %>
        </div>
    </div>
</div>



