<div id="page-content" class="home-content">
    <div class="container" id='home-container-jumbotron'>
        <div class="jumbotron text-center text-white">
            <h1 class="display-6">Welcome on Groove and Move tracker!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <%= link_to "Join Now!", signup_path, class:"btn btn-lg", :style => "background-color:#DCFF2E", color: "black"%>
        </div>
    </div>
</div>



