<div id="page-content">
    <%# <h1 class="text-center mt-4 mb-4 display-4" id='txt'>Activity listing</h1> %>
    <%=  render 'activity'%>
    <div class="apple_pagination">
        <%= will_paginate @activities, :container => false %>
    </div>
</div>




