<footer id="sticky-footer" class="py-2 text-white">
    <div class="container text-center">
        <%= link_to "", "https://fr-fr.facebook.com/", class:"fab fa-facebook text-white social-media", target: "_blank"%>
        <%= link_to "", "https://www.instagram.com/", class:"fab fa-instagram text-white social-media", target: "_blank"%>
        <%= link_to "", "https://twitter.com/?lang=fr", class:"fab fa-twitter text-white social-media", target: "_blank"%>
    </div>
</footer>

        <%# 
        
        <a href="https://fr-fr.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/?lang=fr" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a> 
        
        %>